.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.column {
    border: 1px solid black;
    min-width: 50vw;
}

.list > li {
    font-size: 25px;
    line-height: 150%;
}